<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments :: head}"></head>
<body>
<header th:replace="~{fragments :: header}"></header>
<div class="columns">
    <div class="column">
        <section class="hero">
            <div class="hero-body">
                <p class="title">
                    Offices
                </p>
            </div>
        </section>
    </div>
</div>
<div class="columns">
    <div class="column is-one-fifth">
    </div>
    <div class="column is-9">
        <a href="/offices/new" class="button is-success is-light mb-3">
            Add new office
        </a>
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th sec:authorize="hasAuthority('ADMIN')">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="office: ${offices}">
                <td th:text="${office.id}"></td>
                <td th:text="${office.name}"></td>
                <td th:text="${office.address}"></td>
                <td sec:authorize="hasAuthority('ADMIN')">
                    <div class="buttons">
                        <button class="button is-info is-light">Edit</button>
                        <a th:href="@{'/offices/delete/' + ${office.id}}" class="button is-danger is-light js-modal-trigger" data-target="modal-js-example">Delete</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>