<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments :: head}"></head>
<body>
  <header th:replace="~{fragments :: header}"></header>
  <h1>Parcels</h1>
  <a href="/parcels/new" class="button is-success is-light">New order</a>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Description</th>
        <th>Sender</th>
        <th>Receiver</th>
        <th>Address</th>
        <th>Delivered</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="parcel: ${parcels}">
        <td th:text="${parcel.id}"></td>
        <td th:text="${parcel.description}"></td>
        <td th:text="${parcel.sender}"></td>
        <td th:text="${parcel.receiver}"></td>
        <td th:text="${parcel.address}"></td>
        <td th:text="${parcel.isDelivered}"></td>
      </tr>
    </tbody>
  </table>
  <footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>