<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments :: head}"></head>
<body>
    <div class="columns is-centered mt-6">
        <div class="column is-one-quarter ">
            <div class="card">
                <div class="card-content">
                    <h1 class="title">Register</h1>
                    <form name="register" th:object="${user}" th:action="@{/register}" method="post">
                        <div class="field">
                            <label class="label " for="name">Name</label>
                            <input class="input" id="name" type="text" name="name" placeholder="Full name">
                        </div>

                        <div class="field">
                            <label class="label " for="username">Username</label>
                            <input class="input" id="username" type="text" name="username" placeholder="Username" required>
                        </div>

                        <div class="field">
                            <label for="password" class="label">Password</label>
                            <input class="input" id="password" type="password" name="password" required>
                        </div>

                        <button type="submit" class="button is-link is-light mb-5">Register</button>
                    </form>
                    <a href="/login" class="is-link">Login</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>