<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments :: head}"></head>
<body>
<header th:replace="~{fragments :: header}"></header>
<div class="columns is-centered mt-6">
    <div class="column is-one-quarter" th:if="${success != null}">
        <article class="message is-success">
            <div class="message-body">
                <p>Employee registered successfully</p>
                <a href="/employees">Go back</a>
            </div>
        </article>
    </div>
    <div class="column is-one-quarter" th:if="${success == null}">
        <div class="card">
            <div class="card-content">
                <h1 class="title">New employee</h1>
                <form name="register" th:object="${employee}" th:action="@{/employees/new}" method="post">
                    <div class="field">
                        <label for="name" class="label">Name</label>
                        <input class="input is-medium" id="name" type="text" name="name" th:field="*{name}" placeholder="Full name" required>
                        <p class="help is-danger" th:if="${#fields.hasErrors('name')}">Please, enter employee name!</p>
                    </div>

                    <div class="field">
                        <label class="label " for="username">Username</label>
                        <input class="input is-medium" id="username" type="text" name="username" th:field="*{username}" placeholder="Username" required>
                        <p class="help is-danger" th:if="${#fields.hasErrors('username')}">Please, enter employee username!</p>
                    </div>

                    <div class="field">
                        <label for="emplType" class="label">Type</label>
                        <div class="control">
                            <div class="select">
                                <select id="emplType" th:field="*{type}">
                                    <option value="OFFICE">Office employee</option>
                                    <option value="DELIVERY">Delivery employee</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <label for="office" class="label">Office</label>
                        <div class="control">
                            <div class="select">
                                <select id="office" th:field="*{office}">
                                    <option th:each="office : ${offices}" th:value="${office.id}" th:text="${office.getName()}"></option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="field is-grouped">
                        <div class="control">
                            <button type="submit" class="button is-link">Register</button>
                        </div>
                        <div class="control">
                            <a href="/employees" class="button is-link is-light">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>